*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #30083a;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background: url(img/FONDO1.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #460c55
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #210827;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(57, 19, 66, 0.5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #270731;
}

.price {
    background: url(img/FONDO.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #190520;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}


.btn-bot {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 20px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn-bot:hover {
    background: none;
    
}









.chatbox {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    
  }
  
  
  .chatbox-header {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
  }
  
  .chatbox-header h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .close-btn {
    float: right;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .chatbox-body {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
  }
  
  .chatbox-input {
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chatbox-input input[type="text"] {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .chatbox-input .send-btn {
    width: 25%;
    padding: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }




  .container {
    display: flex;
    justify-content: center;
  }
  
  .catalog-container {
    width: 300px;
    height: 200px;
    background-color: #260830;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }






  .catalog-modal {
    
    position: absolute; 
    z-index: 10000; 
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #160520;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .chatbot-message {
    color: purple;
  }


  
 